* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.first-sec {
    background: radial-gradient(circle, rgba(189, 240, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
}


.first-sec .first-sub .title .title-sec {
    display: flex;
    justify-content: center;
}

.first-sec .first-sub .title .title-sec h5 {
    font-family: "El Messiri", sans-serif;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}


.first-sec .first-sub .title .title-sec h5 span {
    color: #9F372C;
}

.first-sec .first-sub .title .title-sec h5 img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#job-title {
    animation: Name 3s linear infinite;
}

@keyframes Name {
    70% {
        opacity: .1;
    }
}



.first-sec .first-sub .about-sec .about h4 {
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 700;
}


.first-sec .first-sub .about-sec .about p {
    width: 70%;
    font-family: "El Messiri", sans-serif;
}

.first-sec .first-sub .about-sec .about h3 {
    font-family: "El Messiri", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
}


.first-sec .first-sub .about-sec .about h6 {
    font-family: "El Messiri", sans-serif;
    margin-bottom: 5px;
}

.first-sec .first-sub .about-sec .about p {
    font-family: "El Messiri", sans-serif;
    margin-bottom: 5px;
}

.first-sec .first-sub .about-sec .about h5 {
    font-family: "El Messiri", sans-serif;
    font-size: 15px;
}

.first-sec .first-sub .about-sec .img-sec a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #0B3C49;
    color: white;
    border-radius: 20px;
    margin-left: 135px;
}


.first-sec .first-sub .about-sec .details-sec h5 {
    margin-top: 60px;
    font-family: "El Messiri", sans-serif;
    font-weight: 700;
    margin-left: 100px;
}

.first-sec .first-sub .about-sec .details-sec p {
    font-family: "El Messiri", sans-serif;
    margin-left: 100px;
}

.first-sec .first-sub .about-sec .details-sec h6 {
    margin-left: 100px;
    font-family: "El Messiri", sans-serif;
    font-weight: 700;
    margin-top: 30px;
}


.advantage-sec {
    background: radial-gradient(circle, rgba(189, 240, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.advantage-sec .advantage-part .advantage .advantage-detail h5 {
    text-align: center;
    margin-top: 50px;
    font-family: "El Messiri", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.advantage-sec .advantage-part .soft-sec {
    text-align: center;
}

.advantage-sec .advantage-part .soft-sec .soft-icon img {
    background-color: #dff1cb;
    padding: 30px 20px;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.advantage-sec .advantage-part .soft-sec .soft-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

.advantage-sec .advantage-part .soft-sec .ai-icon img {
    background-color: #E1DECC;
    padding: 20px 20px;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.advantage-sec .advantage-part .soft-sec .ai-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

.advantage-sec .advantage-part .soft-sec .ph-icon img {
    background-color: #8dd5fa;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.advantage-sec .advantage-part .soft-sec .ph-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.advantage-sec .advantage-part .soft-sec .bootstrap-icon img {
    background-color: #bd94fa;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}

.advantage-sec .advantage-part .soft-sec .bootstrap-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.advantage-sec .advantage-part .soft-sec .html-icon img {
    background-color: #e7a493;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}

.advantage-sec .advantage-part .soft-sec .html-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.advantage-sec .advantage-part .soft-sec .css-icon img {
    background-color: #8ccae9;
    text-align: center;
    border-radius: 25%;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}

.advantage-sec .advantage-part .soft-sec .css-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.advantage-sec .advantage-part .soft-sec .js-icon img {
    background-color: #f0d277;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}


.advantage-sec .advantage-part .soft-sec .js-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.advantage-sec .advantage-part .soft-sec .wp-icon img {
    background-color: #c1e9f6;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}


.advantage-sec .advantage-part .soft-sec .wp-icon h5 {
    font-family: "El Messiri", sans-serif;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

.eduction-sec {
    background: radial-gradient(circle, rgba(189, 240, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.eduction-sec .eduction-part .eduction-det .eduction h5 {
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
    font-family: "El Messiri", sans-serif;
    font-weight: 600;
}

.eduction-sec .eduction-part .eduction-det .eduction h5 img {
    width: 40px;
    margin-bottom: 10px;
}

.eduction-sec .eduction-part .eduction-det .eduction .eduction-dep {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}



.eduction-sec .eduction-part .eduction-det .eduction .eduction-dep:hover {
    transform: scale(1.1);
    transition: 1s ease;
    color: #0B3C49;
}

.eduction-sec .eduction-part .eduction-det .eduction .eduction-dep-one {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.eduction-sec .eduction-part .eduction-det .eduction .eduction-dep-one:hover {
    transform: scale(1.1);
    transition: 1s ease;
    color: #0B3C49;
}


.work-sec {
    background: radial-gradient(circle, rgba(189, 240, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
}


.work-sec .work-dep .work-det .work h5 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: "El Messiri", sans-serif;
    font-weight: 600;
}

.work-sec .work-dep .work-det .social link {
    display: flex;
    justify-content: center;
}